.first {
  background-color: #927474;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  width: 800;
  margin-left: 200px;
  margin-top: 5%;
}
.first:hover {
  transform: scale(1.1, 1.1);
}
.ovs {
  background-color: #2e2b2b;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
.ovs1 {
  background-color: #2e2b2b;
  padding: 20px;
  font-size: 15px;
  color: #ffffff;
}
.footer {
  text-align: center;
}