
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,300&family=Roboto+Slab:wght@400;500;600&display=swap');


.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: space-around;
 
}
.col-4{
  margin-top: 20px;
  flex-basis: 25%;
  padding: 10px;
  min-width: 250px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  box-shadow: 5px 10px 8px 10px #888888
}
.col-4 img{
  margin-left:20%;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
}
h4{
  font-size: 20px;
  color: #151414;
  font-family: normal;
  margin-left: 10%;

}
.col-4 >a{
  cursor: pointer;
  margin-left: 10%;
}
.col-4 p{
  font-size: 14px;
  color: #000;
  font-weight: 700;
  margin-left: 10%;
}
.rating p{
color: #000;
font-weight: 700;
margin-left: 10%;


}
.col-4:hover{
  transform: translateY(5px);
} 
button{
  margin-left:45px ;
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
 
}