

.voting{
  margin-top: 20px;
  text-transform: capitalize;

}
.candidate_list{
  width: 1600px;
  padding: 10px;
  background:#fff;
  border-radius: 10px;
  box-sizing: 0 20px 35px rgba(0,0,0,0.1);

}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow:hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #34AF6F;
  text-align: left;
  font-weight: bold;

}
.table th,
.table td{
  padding: 12px 15px;
  font-size: 12px;
  font-weight: 800;
}
.table tbody tr{
  border-bottom: 1px solid #ddd;
}
.table tbody tr :nth-of-type(even){
  background: #f3f3f3;
}
.table tbody tr.active{
  font-weight: bold;
  color: #4ad489;
}

.table tbody tr:last-of-type{
  border-bottom: 1px solid #4ad489;
}
.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor:pointer ;
  background: transparent;
  border: 1px solid #4ad489;
}
.table button:hover{
  background-color: #4ad489;
  color: #fff;
  transition: 0.5s;
}

